.StandardButton {
    -fx-background-color: white;
    -fx-background-radius: 15;
    -fx-border-color: black;
    -fx-border-radius: 50%;
    -fx-min-height: 30px;
    -fx-min-width: 50px;
}
.BiggerButton { /* łączony ze StandardButton */
    -fx-background-radius: 35;
    -fx-min-width: 100px;
    -fx-min-height: 70px;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}
.OptionButton {
    -fx-min-height: 50px;
    -fx-background-radius: 25px;
    -fx-min-width: 120px;
    -fx-font-size: 16px;
}
.GreenElement { /* żeby wszędzie były dokładnie takie same kolory */
    -fx-background-color: lawngreen;
    -fx-text-fill: white;
}
.YellowElement {
    -fx-background-color: #FFE800;
    -fx-text-fill: white;
}
.LightGrayELement {
    -fx-background-color: #D8D8D8;
    -fx-text-fill: black;
}
.FriendsButton {
    -fx-background-color: grey;
    -fx-pref-width: 30;
    -fx-pref-height: 30;
    -fx-shape: 'M345.92,317.25,256,371.2l-89.92-54A172.78,172.78,0,0,0,51.2,480a32,32,0,0,0,32,32H428.8a32,32,0,0,0,32-32A172.78,172.78,0,0,0,345.92,317.25Zm-157.44-42.3c1.15.77,2.3,1.47,3.52,2.18V303l64,38.4L320,303V277.12c1.22-.7,2.37-1.41,3.52-2.18a122.75,122.75,0,0,0,25.6-21A127,127,0,0,0,384,166.4V128a128,128,0,0,0-256,0v38.4A127,127,0,0,0,162.88,254,122.75,122.75,0,0,0,188.48,274.94Z';
}
.SettingsButton {
    -fx-background-color: grey;
    -fx-pref-width: 30;
    -fx-pref-height: 30;
    -fx-shape: 'M438.79,308.56a188.71,188.71,0,0,0,5.73-76L512,210.58,489.68,142,422.2,164a186.35,186.35,0,0,0-49.29-58l32-63.14L340.58,10.15l-32,63a187.74,187.74,0,0,0-76-5.76L210.62,0,142,22.32l21.94,67.4a189.25,189.25,0,0,0-58,49.38l-63.1-32-32.7,64.2,62.93,32.24a190.52,190.52,0,0,0-5.71,76L0,301.45l22.32,68.61,67.34-21.92A193.42,193.42,0,0,0,139,406.21l-31.94,63,64.22,32.71,32.13-63a189.75,189.75,0,0,0,76,5.81L301.34,512l68.58-22.31L348,422.29A190.59,190.59,0,0,0,406,372.85l62.94,32L501.8,340.6Zm-158.41,22.3a78.72,78.72,0,1,1,50.41-99.21A78.82,78.82,0,0,1,280.38,330.87Z';
}
.XButton {
    -fx-background-color: grey;
    -fx-pref-width: 30;
    -fx-pref-height: 30;
    -fx-shape: "M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16zM4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z";
}
.PageTitle { /* Styl Label'a z tytułem strony */
    -fx-font-size: 50px;
    -fx-font-weight: bold;
}
.StandardLabel {
    -fx-font-size: 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-wrap-text: true;
}
.HighVisLabel {
    -fx-font-weight: bold;
    -fx-font-style: italic;
    -fx-background-color: yellow;
}
.MainLabel {
    -fx-font-weight: bold;
    -fx-font-style: normal;
    -fx-font-size: 30px;
}
.SmallerLabel {
    -fx-font-size: 10px;
}